{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Prop{AMC}</title>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
        <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>


        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/master.css' %}">

    </head>
    <body>
        <div class="jumbotron">
            <h1>Geocode an address!</h1>
            <form  id="upload-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlFile1"><h5> Input a csv file</h3></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="csv_file" required=True>
                    <div>
                        <button type="submit" class="btn btn-primary" id="one">Upload</button>
                        <button type="submit" class="btn btn-primary" disabled id="two" filename="{{name}}" downloadable="false">
                            <span class="spinner-border spinner-border-sm d-none" id='spinner' role="status" aria-hidden="true"></span>
                            <span id="btn-text">Start Processing</span>
                        </button>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <script type="text/javascript" src="../static/js/master.js">

        </script>
    </body>
</html>
